h5.message-label {
    font-weight: bold;
}

i.fa.fa-arrow-left.pull-left.back-button.ret-button {
    margin-top: 13px;
}

div#message-list1 {
    margin-left: -15px;
    margin-top: 20px;
    color: gray;
    text-transform: none;
    font-size: 14px;
}

p.senders-message {
    margin-top: -12px;
}

p.senders-name {
    font-weight: bold;
    margin-top: 7px;
}

hr.message-divider {
   margin: -1px 0;
}


.message-bg {
    background: white;
    border-radius: 6px;
    text-transform: none;
    word-wrap: break-word;
    padding: 15px;
    color: gray;
    font-weight: bold;
    font-size: 14px;
    font-family: tahoma;
    line-height: 1.7em;
    box-shadow: 0px 9px 8px -7.5px rgba(0, 0, 0, 0.43);
}


.message-wrapper {
    margin-bottom: 5px;
    margin-top: 10px;
}



.message-bg1 {
    color: white;
       font-weight: bold;
    font-size: 14px;
    font-family: tahoma;
    background: linear-gradient(to right, rgb(69, 127, 202), rgb(86, 145, 200));
    border-radius: 6px;
    text-transform: none;
    word-wrap: break-word;
    padding: 15px;
    line-height: 1.7em;
    box-shadow: 0px 9px 8px -7.5px rgba(0, 0, 0, 0.43);
}


.name-bg{
    padding: 7px 0;
    background: linear-gradient(to right, rgb(248, 80, 50), rgb(231, 56, 39));
    color: white;
}

.receivers-name {
    margin-left: -16px;
    margin-top: 14px;
    font-weight: bold;
    max-width: 80%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

img.receivers-image {
    margin-right: 15px;
}

i.fa.fa-arrow-left.pull-left.back-button {
    margin: 17px 15px;
    font-size: 20px;
}

.media-body.receiver {
    overflow: visible;
}

.media.receiver-details {
    margin-top: 6.6px;
}

img.senders-image {
    margin-top: 7px;
    margin-left: 10px;
    border-radius: 50%;
}

p.pull-right.mess-count {
    margin-top: -31px;
}